{% extends 'base.html' %}

{% block title %}注册成功 - 校园博客{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-info text-white">
                <h3 class="mb-0 text-center">注册成功</h3>
            </div>
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="fa fa-envelope fa-5x text-info mb-3"></i>
                    <h4>注册成功！</h4>
                    <p class="lead">我们已向您的邮箱发送了一封验证邮件，请点击邮件中的链接完成验证。</p>
                    <p class="text-muted">如果没有收到邮件，请检查垃圾邮件文件夹，或稍后重试登录重新发送验证邮件。</p>
                </div>
                
                <div class="mb-3">
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg">前往登录</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}